# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TaskManagment.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Taleh-PC\source\repos\TaskManagment\.idea\.idea.TaskManagment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
